* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 50px;
  background: yellowgreen;
  color: white;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
}

.weui-panel_access{
  margin-bottom: 60px;
}