<div class="sales-box sales-tmh" id="js_saleWrapper">
    <div class="sales-hd">
        <h2 class="title title-tmh">特卖汇</h2><a id="c_selling" data-type="jump" data-href="/webapp/tours/deals/index"
            href="/webapp/tours/deals/index" class="button-gradient">更多</a>
    </div>
    <div class="row sales-bd">
        <div id="js-seckill-box" class="col col-50" style="">
            <div class="sales-item seckill-item" id="js-seckill-item"><a id="c_selling_hot"
                    data-href="/webapp/tours/deals/list" href="/webapp/tours/deals/list" data-type="jump"><span
                        class="flag-hot js-flag-hot">爆款</span>
                    <div class="sales-img"><img
                            src="https://dimg03.c-ctrip.com/images/10020q000000gajaeDB6E_C_360_202.jpg">
                        <div class="sales-countdown js-countdown" style="display:none"><span id="js-words"
                                class="sales-text">秒杀进行中</span><span id="js-hour" class="time">00</span><span
                                class="sep">:</span><span id="js-minute" class="time">00</span><span
                                class="sep">:</span><span id="js-second" class="time">00</span></div>
                    </div>
                    <p class="sales-title">三亚5日自由行(5钻)·避寒热销【高星度假型酒店合辑·4晚连住】预订赠出行礼遇·网红酒店|唯美海滩|亲子宅玩|海鲜盛宴|惬意泳池|热剧取景地·告别寒流
                        暖秋甄选旅行地 累计超6万人真实出行！</p>
                    <div class="sales-info"><b class="sales-price"><dfn>¥</dfn>1808<i>起</i></b><span
                            class="tag tag-sales" style="display: none"></span></div>
                </a></div>
        </div>
        <div id="js-sales-ad-box" class="col col-50" style="">
            <div class="sales-item themeEntry-item">
                <div class="row">
                    <div class="sales-list"><a id="c_selling_main" data-href="/webapp/tours/deals/index"
                            href="/webapp/tours/deals/index" data-type="jump">
                            <dl class="sales-item-title">
                                <dt>千款特价</dt>
                                <dd>走过路过不错过</dd>
                            </dl><img src="//pic.c-ctrip.com/platform/h5/home/pic-tmh-02.png" width="54"
                                alt="千款特价 走过路过不错过">
                        </a></div>
                </div>
                <div class="row">
                    <div class="col col-50">
                        <div class="sales-list"><a id="c_selling_dest"
                                data-href="/tangram/MTE1MA==?isHideNavBar=YES&amp;ctm_ref=vactang_page_1150"
                                data-type="jump">
                                <dl class="sales-item-title">
                                    <dt>境外精选</dt>
                                    <dd>限时抢购</dd>
                                </dl><img src="//pic.c-ctrip.com/platform/h5/home/pic-tmh-04.png" width="50"
                                    alt="境外精选 限时抢购">
                            </a></div>
                    </div>
                    <div class="col col-50">
                        <div class="sales-list"><a id="c_selling_weekend" data-href="/webapp/tours/deals/list?tabId=101"
                                href="/webapp/tours/deals/list?tabId=101" data-type="jump">
                                <dl class="sales-item-title">
                                    <dt>周边玩乐</dt>
                                    <dd>欢乐度周末</dd>
                                </dl><img src="//pic.c-ctrip.com/platform/h5/home/pic-tmh-03.png" width="48"
                                    alt="周边玩乐 欢乐度周末">
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="loadImg-layer-box" id="js_load_sale" style="display: none;"><i class="i-loading-imgVal"></i></div>
    </div>
</div>
<div class="sales-box sales-huodong" id="js-activity-wrapper">
    <div class="sales-hd">
        <h2 class="title title-huodong">热门活动<i class="icon-gg"></i></h2><a id="c_events" data-type="jump"
            data-href="https://m.ctrip.com/webapp/hotel/eventsale/baichengqiandianzhuyouxuanjiudian80yuanqi"
            rel="nofollow" class="button-gradient">获取更多福利</a>
    </div>
    <div id="js-activity-list">
        <div clzass="sales-bd">
            <div class="row">
                <div class="col col-50">
                    <p id="sale-hd-img1" data-type="jump"
                        data-href="https://contents.ctrip.com/buildingblocksweb/special/membershipcard/index.html?sceneid=1&amp;productid=14912&amp;ishidenavbar=yes&amp;pushcode=act_svip_hm31"
                        data-eventsid="" data-position="1" data-placeid="102128" data-adid="562640"><img
                            src="https://dimg04.c-ctrip.com/images/700t0y000000m71h523FE_375_260_342.png"></p>
                </div>
                <div class="col col-50">
                    <p id="sale-hd-img2" data-type="jump"
                        data-href="https://contents.ctrip.com/activitysetupapp/mkt/index/cjqyhb1705?pushcode=qy_8"
                        data-eventsid="" data-position="2" data-placeid="" data-adid=""><img
                            src="https://images4.c-ctrip.com/target/zc0g0i0000009fvbaA666.png"></p>
                </div>
            </div>
            <div class="row">
                <div class="col col-50">
                    <p id="sale-hd-img3" data-type="jump" data-href="https://m.ctrip.com/webapp/ticket/index"
                        data-eventsid="" data-position="3" data-placeid="" data-adid=""><img
                            src="https://images4.c-ctrip.com/target/zc0i0i0000009fp077B7E.png"></p>
                </div>
                <div class="col col-50">
                    <p id="sale-hd-img4" data-type="jump"
                        data-href="https://smarket.ctrip.com/webapp/promocode/add?source=5" data-eventsid=""
                        data-position="4" data-placeid="102131" data-adid="552498"><img
                            src="https://dimg04.c-ctrip.com/images/700w0z000000mogkyEF78_375_160_345.jpg"></p>
                </div>
            </div>
            <div class="row">
                <div class="col col-50">
                    <p id="sale-hd-img3" data-type="jump"
                        data-href="http://m.ctrip.com/webapp/vipwelfare/rightsInterest/index?rightpage=66&amp;back=1"
                        data-eventsid="" data-position="5" data-placeid="102132" data-adid="537585"><img
                            src="https://dimg04.c-ctrip.com/images/700a0t000000im512AB2C_375_160_345.jpg"></p>
                </div>
                <div class="col col-50">
                    <p id="sale-hd-img4" data-type="jump" data-href="http://m.ctrip.com/webapp/mall/" data-eventsid=""
                        data-position="6" data-placeid="102133" data-adid="537587"><img
                            src="https://dimg04.c-ctrip.com/images/700d0s000000htvwo16C4_375_160_345.jpg"></p>
                </div>
            </div>
        </div>
    </div>
    <div id="js_load_hot" class="loadImg-layer-box" style="display: none;"><i class="i-loading-imgVal"></i></div>
</div>