<div id="nav" class="nav-entry grid-nav">
    <div class="grid-nav-common grid-nav-hotel"><a id="c_hotel" class="grid-nav-items grid-nav-items-hotel"
            data-cid="hotels" title="酒店" data-href="https://dp.ctrip.com/webapp/hotel/" data-type="transition"
            href="/webapp/hotel/"><span>酒店</span></a> <a id="c_hotel_inn" class="grid-nav-items grid-nav-items-minsu"
            data-cid="inn" title="民宿 客栈" data-href="https://dp.ctrip.com/webapp/inn/index" data-type="transition"
            href="/webapp/inn/index"><span>民宿·客栈</span></a> <a id="c_package_b"
            class="grid-nav-items grid-nav-items-jhj" title="机票·火车票+酒店"
            data-href="https://dp.ctrip.com/webapp/vacations/idiytour/newindex?sourcefrom=h5_xingongge&amp;title=%E6%9C%BA%E7%A5%A8%E3%83%BB%E7%81%AB%E8%BD%A6%E7%A5%A8%2B%E9%85%92%E5%BA%97&amp;isHideNavBar=YES"
            href="/webapp/vacations/idiytour/newindex?sourcefrom=h5_xingongge&amp;title=%E6%9C%BA%E7%A5%A8%E3%83%BB%E7%81%AB%E8%BD%A6%E7%A5%A8%2B%E9%85%92%E5%BA%97&amp;isHideNavBar=YES"
            data-type="transition"><span class="grid-nav-jhj"><span class="grid-nav-jhj-text">机票·火车票+酒店 <span
                        class="grid-nav-item-tag">一键订更便宜</span></span></span></a></div>
    <div class="grid-nav-common grid-nav-flight"><a id="c_flight" class="grid-nav-items grid-nav-items-flight"
            data-cid="flights" title="机票" data-href="https://dp.ctrip.com/html5/flight/swift/index"
            data-type="transition" href="/html5/flight/swift/index"><span>机票</span></a> <a id="c_train_ticket"
            class="grid-nav-items grid-nav-items-train" data-cid="trains" title="火车票"
            data-href="https://dp.ctrip.com/webapp/train/" data-type="transition"
            href="/webapp/train/"><span>火车票</span></a> <a id="c_bus_ticket" class="grid-nav-items" data-cid="bus"
            title="汽车·船票" data-href="https://dp.ctrip.com/webapp/bus/" data-type="transition"
            href="/webapp/bus/"><span>汽车·船票</span></a> <a id="c_car" class="grid-nav-items" data-cid="car" title="专车·租车"
            data-href="https://dp.ctrip.com/webapp/car/" data-type="transition"
            href="/webapp/car/"><span>专车·租车</span></a></div>
    <div class="grid-nav-common grid-nav-travel"><a id="c_vacation" class="grid-nav-items grid-nav-items-travel"
            data-cid="trip" title="旅游" data-href="https://dp.ctrip.com/webapp/vacations/tour/vacations"
            data-protocol="https" data-type="transition" href="/webapp/vacations/tour/vacations"><span>旅游</span></a> <a
            id="c_crh_travel" class="grid-nav-items grid-nav-items-dingzhi" data-cid="gaotie" title="高铁游"
            data-href="https://dp.ctrip.com/webapp/you/livestream/plan/crhList.html" data-type="transition"
            href="/webapp/you/livestream/plan/crhList.html"><span>高铁游</span></a> <a id="c_cruise" class="grid-nav-items"
            data-cid="ship" title="邮轮游" data-href="https://dp.ctrip.com/webapp/cruise/index?ctm_ref=C_vac_cruise"
            data-type="transition" href="/webapp/cruise/index?ctm_ref=C_vac_cruise"><span>邮轮游</span></a> <a
            id="c_custom" class="grid-nav-items" data-cid="dingzhi" title="定制游"
            data-href="https://dp.ctrip.com/webapp/dingzhi/index?ctm_ref=C_vac_custom" data-type="transition"
            href="/webapp/dingzhi/index?ctm_ref=C_vac_custom"><span>定制游</span></a></div>
</div>